body {
}
.main-header
{
    width:100%;
    height:70px;   
    background:#cccccc;
}
.main-contents
{
    min-height:435px;    
}
.main-footer
{
    width:100%;
    height:120px;    
    background:#cccccc;
}

.menu-bar
{
    width:605px;
    margin-top: 20px;
position: fixed;
margin-left: 250px;
}
.menu-bar ul ul {
	display: none;
}

.menu-bar ul li:hover > ul {
	display: block;
}
.menu-bar ul {
	background: #efefef; 
	background: linear-gradient(top, #87BFF3 0%, #5C7CE0 100%);  
	background: -moz-linear-gradient(top, #87BFF3 0%, #5C7CE0 100%); 
	background: -webkit-linear-gradient(top, #87BFF3 0%,#5C7CE0 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
.menu-bar ul:after 
{
    
    
	content: ""; clear: both; display: block;
}
.menu-bar  ul li {
	float: left;
	border-right: solid 1px #C9E1F6;
}
.menu-bar  ul li:hover {
	background: linear-gradient(top, #9ECEFC 0%, #7A94E6 100%);  
	background: -moz-linear-gradient(top, #9ECEFC 0%, #7A94E6 100%); 
	background: -webkit-linear-gradient(top, #9ECEFC 0%,#7A94E6 100%)
}
.menu-bar  ul li:hover a {
	color: #fff;
}
.menu-bar  ul li a {
	display: block; 
	padding: 12px 30px;
	color: #FFFFFF; 
	text-decoration: none;
}
.menu-bar ul ul {
	background: #7A94E6;
	border-radius: 0px;
	padding: 0;
	position: absolute; 
	top: 100%;
}
.menu-bar ul ul li {
	float: none; 
	border-top: 1px solid #C9E1F6;
	position: relative;
	font-size:12px;
}
.menu-bar ul ul li a {
	padding: 11px 34px;
	color: #fff;
}	
.menu-bar ul ul li a:hover {
	background: #757575;
}
		
.main-content
{
	margin-right: auto;
    margin-left: auto;
    width:100%;
    margin-top:  85px;
}
		
.footer
{ 
    background:#F5F3F3;
    display: block;
    text-align: center;
    width: 100%;
    border-top: solid #cccccc 1px;
    bottom: 0;
    margin-top: 15px;
    position: fixed;
}
.footer span
{
	float:right;
	margin-right:100px;
	margin-top:10px;
}
html,body { height: 100%; margin: 0px; padding: 0px; }

 .lot-information
{
    font-weight:bold;
    color:#666666;
    padding: 2px 5px;
    font-size:12px;
    margin-bottom:6px;
    display:inline-block;
}

.lot-information.header
{
    margin-left:25px;
    font-size: 16px;
}
.lot-information.data
{
    font-weight:normal;
}
        
.group-radio
{
    padding: 2px 5px
}
          
.group-radio input
{
    margin: 0px 7px
} 
        
.prod-information span
{
    margin: 20px 10px;
}
input 
{
    font-size:12px;    
}

/*custom grid style*/
.lines-bottom .datagrid-body td{
    border-bottom:1px solid #cccccc;
    border-right:1px dotted transparent;
    height: 30px;
}
.lines-right .datagrid-body td{
    border-right:1px solid #cccccc;
}   
.lines-right .datagrid-body td:last-child 
{
    border-right:none;
}  
.panel-header
{
    display:none;
}
        
.datagrid-view 
{
    border-top: solid 1px #95B8E7
}
        
.datagrid-header
{
    background: transparent;
}
        
.datagrid-header-row td
{
    border:none;    
}
        
.datagrid-header .datagrid-cell span {
    font-size: 13px;
    font-weight: bold;
    color: #333
}
        
.datagrid-header-row, .datagrid-row {
    height: 30px;
}
        
.datagrid .panel-body {
    border-left: none;
    border-right: none;
}
        
tr .datagrid-cell {
    height: 15px;
}
        
.datagrid-view2
{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
        
.datagrid-body tr:nth-child(odd) 
{
    background: #f9f9f9;
}

/*custom grid style*/
        
/*custom tabs style*/
.tabs-header 
{
    border:none;
    background:transparent;
}
        
.tabs
{
    padding-left:0px;   
    min-height: 35px;
}
        
.tabs li 
{
    margin: 0 0px -3px 0;
}
.tabs  a.tabs-inner
{
    min-height: 35px;
}
.tabs li a.tabs-inner
{
    background: transparent;
    border: none;
}
.tabs li.tabs-selected a.tabs-inner
{
    border-bottom: 1px solid #7DAAD3;
    background: #7DAAD3;
    color:#ffffff;
}
        
.tabs-title
{
    padding:20px;
    font-size: 13px;
}
        
.tabs-panels 
{
    border-top: solid 2px #7DAAD3;
    border-left: none;
    border-right: none;
}     
        
.tabs-scroller-left 
{
    border-top: none;
    border-left: none;
    border-right: none;
    background: #ffffff url('../Styles/themes/bootstrap/images/tabs_icons.png') no-repeat 1px center;
}
.tabs-scroller-right
{
    border-top: none;
    border-left: none;
    border-right: none;
    background: #ffffff url('../Styles/themes/bootstrap/images/tabs_icons.png') no-repeat -15px center;
            
}
/*custom tabs style*/


/* file upload */
.fileUpload {
	position: relative;
	overflow: hidden;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
} 
.fileUpload span {
	font-size: 12px;
}
/* file upload */

.o-1{
    margin-left: auto;
    height: 60px;
    margin-right: auto;
    width: 930px;
    margin-top: 15px;
}
.o-2{
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}

.page-options-nav
{
    margin-bottom:15px;
    margin-right:20px;
    margin-left:30px;
    height: 40px;
    padding: 18px;
    float: right;
    
}
.page-options-nav.button-group
{ 
    float:right;
    margin-right:20px;
    margin-top: 20px;
}

.page-options-nav.show-border
{
    border: solid 1px #cccccc;
    width: 100%;
    height: 60px;
    margin: 0px;
}

.main-contain-inner
{
    margin-left:auto;
    margin-right:auto;
    width:930px;    
    padding-top: 21px;
    background:#ffffff;
}

.production-contain
{
    padding-top: 10px;
    position: absolute;
    padding:0px 27px;
    background:white;
}

.production-contain-inner
{
    margin-left:auto;
    margin-right:auto;
    width:930px;
    margin-top:58px;
    border:solid 1px #cccccc;
    border-radius: 5px;
    padding: 5px 0px 40px 0px;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15)     
}
.production-contain-inner hr
{
    margin-top: -4px;
    margin-left: 25px;
    margin-right: 25px;
}

.production-contain-inner table
{   
    margin-left: 40px;
    width:865px;
}
.production-contain-inner table.highligh-row tr:nth-child(odd) 
{
    background: #F1F1F1;
}
.production-contain-inner table tr td
{
    padding-top: 5px; 
}
.production-scan-box
{
    width:650px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 200px;
    border: solid 1px #cccccc;
    border-radius:15px;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 9px;
    background:white;    
}

.production-scan-box h1
{
    position:absolute;
    margin-top:-60px;
    font-size:28px;
    color:#428bca;
    font-weight:normal;
}
.production-scan-box span
{
    position:absolute;
    margin-top:20px;
    font-size:14px;
    color:#428bca;
    text-align:center;
    width: inherit;
}
.production-scan-box input[type='text']
{
    height:100px;
    width:100%;
    font-size:50px;
}
.production-scan-box input[type='submit']
{
    width: 100%;
    height: 70px;
}
.filter-display
{
    float:left;   
    height: auto; 
}
.production-scan-box .separator-text
{
    position: fixed;
    top: 310px;
    width: 550px;
    text-align: center;
    font-weight: bold;
    color: #2e6e9e;
    font-size: 17px;    
}
h1{
    margin-left:30px;
    font-size: 23px;
    color: #264DB1;
    font-weight: bold;
    float:left;
}

h2
{
    text-decoration: underline; 
    margin-left:30px;
    font-size: 16px;
    color: #264DB1;
    font-weight: bold;
    cursor: pointer;    
}

h3
{
    margin-left:30px;
    font-size: 23px;
    color: #264DB1;
    font-weight: bold;
    float:left;
    margin-top: 2px;    
    line-height: 55px;
}

.fancy-button i
{
    color: #333;
    margin-right: 11px;
}


/* step */
.o-1.step
{
    margin-bottom: -25px;
}
.o-1.step ul 
{
    padding:0px;
}
.o-1.step ul li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 215px;
    margin: 5px 1px 0 0;
    text-indent: 35px;
    position: relative;
}

.o-1.step ul li:before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    left: -2px;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #fff;
    z-index: 0;
}

.o-1.step ul li:first-child:before {
    border-color: transparent;
}

.o-1.step ul li a:after,.o-1 ul li span:after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    right: -15px;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #cccccc;
    z-index: 10;
}
.o-1.step ul li a,.o-1.step ul li span {
    color:white;
}
.o-1.step ul li.active a {
    background: #428bca;
    z-index: 100;
}

.o-1.step ul li.active a:after {
    border-left-color: #428bca;
}

.o-1.step ul li a,.o-1 ul li span {
    display: block;
    background: #cccccc;
}

.o-1.step ul li a:hover {
    background: #BDCEDD;
}

.o-1.step ul li a:hover:after {
    border-color: transparent transparent transparent #BDCEDD;; 
}
/* step */



.filter-display{
    display:none;
    margin-left:auto;
    margin-right:auto;
    width:930px;
    border-radius:10px;
    background:#FAFAFA;
    margin-bottom:20px;
}

/*data grid*/
tr .datagrid-cell
{
    height:25px;
}
.fancy-button:hover {
    background: url("../Images/ui-bg_highlight-hard_75_dadada_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
}
a:hover {
    text-decoration: none;
}
.fancy-button {
    border: 2px solid #E1E1E1;
    background: url("../Images/ui-bg_highlight-hard_75_e6e6e6_1x100.png") repeat-x scroll 50% 50% #D3CDCD;
    padding: 0.4em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #555555;
    font-weight: normal;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}
        
.actived{
    background:#92A7E7;
    color:#ffffff;
}
.actived:hover{
    background:#5C7CE0;
    color:#ffffff;
}