USE [TAC_KANBAN]


DECLARE @CUSTOMER INT
DECLARE @MODELID INT
DECLARE @PARTID INT
DECLARE @QTY INT
DECLARE @MONTH_START INT
DECLARE @MONTH_END INT

SET @CUSTOMER = 1
SET @MODELID = 1
SET @PARTID = 12
SET @QTY = 1200
SET @MONTH_START = 1
SET @MONTH_END = @MONTH_START +2


DECLARE customer_cursor CURSOR
    FOR SELECT ID FROM MA_CUSTOMER
OPEN customer_cursor
FETCH NEXT FROM customer_cursor INTO @CUSTOMER

WHILE @@FETCH_STATUS = 0
BEGIN

	DECLARE model_cursor CURSOR
		FOR SELECT MS.ID FROM MA_MODEL_STRUCTURE MS 
					  INNER JOIN MA_MODEL MA ON MA.ID = MS.MODEL_ID
					  WHERE MA.CUSTOMER_ID = @CUSTOMER
	OPEN model_cursor
	FETCH NEXT FROM model_cursor INTO @MODELID

	WHILE @@FETCH_STATUS = 0
	BEGIN
			INSERT INTO [dbo].[FORECAST_ORDER] ([CUSTOMER_ID],[MODEL_STRUCTURE_ID],[STATUS],[QUANTITY],[MONTH_START],[MONTH_END],[YEAR])
			SELECT @CUSTOMER AS CUSTOMER_ID,
				(SELECT ID FROM MA_MODEL_STRUCTURE WHERE ID = @MODELID) AS MODEL_STRUCTURE_ID,
				NULL AS STATUS,
				@QTY AS QUANTITY,
				@MONTH_START AS MONTH_START,
				@MONTH_END AS MONTH_END,
				2014 AS [YEAR]
					
		FETCH NEXT FROM model_cursor INTO @MODELID
	END
	
	CLOSE model_cursor;
	DEALLOCATE model_cursor;

	FETCH NEXT FROM customer_cursor INTO @CUSTOMER
END

CLOSE customer_cursor;
DEALLOCATE customer_cursor;