<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TAC_KANBANEntities" connectionString="metadata=res://*/EF.TAC_KANBAN.csdl|res://*/EF.TAC_KANBAN.ssdl|res://*/EF.TAC_KANBAN.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLExpress;Initial Catalog=TAC_KANBAN;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="HandlerKanbanList.axd" verb="POST,GET" type="Toacts.KanbanPost.Layout.Handler.KanbanListHandler"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="fx" namespace="FlexigridASPNET" assembly="FlexigridASPNET"/>
      </controls>
    </pages>
    <compilation debug="true"/>
  </system.web>
</configuration>